# Cooler settings
cooler_relayPin =

# Heater settings
heater_relayPin =

# Lcd settings
lcd_i2c_addr =

# Sensor settings
sensorFridgePin =
sensorBarrelPin =

# Web settings
email = ''
password = ''
webAddress = ''